.body__logo{
    position: absolute;
    width: 250px;
    left: 65px;
    top: 100px;
}



.home{
    margin-left: auto;
    margin-right: auto;
    max-width: 1500px;
}

.home__container{
    border: 0px solid #FAF1E7 ;
    border-radius: 50px;
    background-color: #FAF1E7;
    box-shadow:  2px 2px 10px 2px #C38357;
    margin-top: 120px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 20px;
}

.home__containerTwo{
    border: 0px solid #FAF1E7 ;
    border-radius: 50px;
    background-color: #FAF1E7;
    box-shadow:  2px 2px 10px 2px #C38357;
    margin: 50px 50px;
    padding: 10px;
}

.clickable{
    display: flex;
}

.grid__containerOne{
    display: flex;
    flex: 2em;
    z-index: 1;
    margin-bottom: 30px;
    margin-top: 40px;
    justify-content: space-between;
}

.grid__containerTwo{
    display: flex;
    z-index: 1;
    margin-left: 50px;
    
}

.grid__containerThree{
    display: flex;
    z-index: 1;
    margin-left: 50px;
}

.options{
    text-decoration: underline;
    font-weight: bold;
    color: #AD6438;
    margin-right: 70px;
}

.options:hover{
    cursor: pointer;
}

.options__one{
    font-weight: bolder;
    margin-left: 40px;
    font-size: large;
}

.view__More{
    text-align: right;
    margin-right: 70px;
    text-decoration: underline;
    color: #31441B;
    margin-bottom: 30px;
    padding-top: 10px;
}

.view__More:hover{
    cursor: pointer;
}

.featured__shop{
    display: flex;
    margin-left: 30px;
    margin-right: 20px;
}

.grid__containerOne__shop{
    background-color: #C38357;
    border-radius: 30px;
    margin-right: 30px;
    margin-left: 30px;
    
}

.shop__logo{
    width: 140px;
    height: 140px;
    border-radius: 80px;
    padding: 10px;
    margin-left: 20px;
    margin-top: 20px;
}

.shop__name{
    margin-top: 60px;
    margin-left: 20px;
    font-weight: 700;
}

.featured__shopOne{
    display: flex;
}

.first__container{
    display: flex;
    padding: 20px;
}

.grace__goods{
    text-decoration: none;
    color: black;
}