.tuklas__Products{
    margin: 40px 20px;
}


.products__Container{
    display: flex;
    justify-content: space-between;
}

.products__Categories{
    display: flex;
    flex-direction: column;
    margin: 30px 40px;
}

.products__Images{
    display: grid;
    grid-template-columns: 220px 220px 220px 220px;
    grid-gap: 40px;
    background-color: #FAF1E7;
    padding: 20px;
    margin: 20px 25px;
    border-radius: 50px;
    box-shadow:  2px 2px 10px 2px #C38357;
}

.tuklas__images{
    width: 230px;
    border-radius: 30px;
}

.categories__Header{
    color: #834521;
    margin: 5px 0;
}

.categories__Option{
    color: #C38357;
    text-decoration: underline;
    margin: 10px 0;
    font-weight: bold;
    font-size: 25px;
}